project_name:
  enabled: True
  github:
    organization: ""
    respository: ""
  ansible:
    remote_user: ""
    ansible_dir: ""
    inventories:
      - ""
    exclude_dirs: []          
  cloud:
    aws:
   